footer{
  position: relative;
  z-index: 1;
  margin: 30px 0px;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .46;
    z-index: -1;
    background: linear-gradient(90deg, rgba($primary,05) 50%, rgba($black,5) 100%);

  }
  .footer-wrap{
    .row-footer{
      margin: 0;

      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      p{
        @include lg{
          margin-bottom: 0;
        }
        @include elg{
          margin-bottom: 0;
        }
        color: $white;
      }
      a{
        text-decoration: none;
        color: $white;
      }
    }
  }
}
