#page-2{
  .main-wrap{
    .row-main{
      .col-sol-wrap{
        .row-proje{
          .col-proje-mtitle{
            .proje-mtitle{
              background: $white;
              border-radius: $border-radius-cs;
              margin-bottom: 30px;
              .title{
                border: 0;
                &:before{
                  display: none;
                }
              }
            }
          }
          .col-proje{
            margin-bottom: 30px;
            .proje-wrap{
              display: flex;
              flex-wrap: wrap;
              overflow: hidden;
              border-radius: $border-radius-cs;
              .sol{
                position: relative;
                overflow: hidden;
                z-index: 2;
                padding: 30px 45px;
                flex: 0 0 60%;
                background: $white;
                border-radius: $border-radius-cs 0 0 $border-radius-cs;


                @include lg{
                  padding: 30px 25px;
                }
                @include esm{
                  order: 1;
                  padding: 20px 10px;
                  flex: 0 0 100%;
                  border-radius: 0 ;
                  border-top: 1px solid #dddddd;
                }

                b{
                  font-weight: bold;
                  @include esm{
                    display: block;
                    width: 100%;
                  }
                }
                .date{
                  margin-top: 15px;
                  @include esm{
                    float: left;
                    margin-left: 10px;
                  }
                  a{
                    color: #323c4a;
                    display: inline-block;
                    border: 1px solid #e8ebf5;
                    text-decoration: navajowhite;
                    background: #fbfbfb;
                    padding: 10px 30px ;
                    border-radius: $rounded-pill;
                    @include lg-custom{
                      padding: 10px 15px ;
                    }
                    @include esm{
                      padding: 10px 15px ;
                    }
                    img{
                      margin-right: 15px;
                    }
                    span{

                    }
                  }

                }
              }
              .sag{

                position: relative;
                z-index: 2;
                flex: 0 0 40%;
                background: $white;
                border-radius: 0 $border-radius-cs  $border-radius-cs 0;
                overflow: hidden;
                @include esm{
                  flex: 0 0 100%;
                  border-radius: 0;

                }

                .sag-wrap{
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: 100%;

                  a{
                    height: 100%;
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 25px;
                    color: #323c4a;
                    text-decoration: none;
                    transition: $transition-base-cs;
                    border-bottom: 1px solid #e8ebf5;
                    border-left: 1px solid #e8ebf5;
                    &:nth-last-child(1){
                      border-bottom:none;
                    }
                    @include esm{
                      padding:15px 20px ;
                    }
                    &.c-blue{
                      &:hover{
                        box-shadow: inset 2px 0px 0px 0px  #46a7e5;
                        background: linear-gradient(90deg, #ebf5fc 0%, transparent 50%, transparent 100%);
                      }
                      span{
                        background: #46a7e5;
                      }

                    }
                    &.c-red{
                      &:hover{
                        box-shadow: inset 2px 0px 0px 0px  $red;
                        background: linear-gradient(90deg, #fcebeb 0%, transparent 50%, transparent 100%);
                      }
                      span{
                        background: $red;
                      }

                    }
                    &.c-green{
                      &:hover{
                        box-shadow: inset 2px 0px 0px 0px  #96c130;
                        background: linear-gradient(90deg, #f3fcc7 0%, transparent 50%, transparent 100%);
                      }
                      span{
                        background: #96c130 ;
                      }

                    }
                    span{
                      min-width: 25px;
                      min-height: 25px;
                      border-radius: $rounded-pill;
                      color: $white;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-left: 5px;
                    }
                  }
                }
              }
              .alt{
                margin-top: -30px;
                position: relative;
                z-index: 1;
                flex: 0 0 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                justify-content: space-between;
                @include esm{
                  order: 3;
                }
                a{
                  background: #e30f17;
                  padding: 40px  20px 15px 20px;
                  color: $white;
                  text-decoration: none;
                  text-align: center;
                  border-right: 1px solid $red;
                  flex-basis: 0;
                  flex-grow: 1;
                  transition: $transition-base-cs;
                  @include lg{
                    padding-left: 15px;
                    padding-right: 15px
                  }
                  @include lg-custom{
                    padding-left: 6px;
                    padding-right: 6px;
                  }
                  &:hover{
                    background: $red;
                  }
                  &.icon-5{
                    border-right: 0;
                  }
                  &.icon-6{
                    flex: 0 0 40%;
                    background: #d1060e;
                    border-right: none;
                    border-left: 1px solid #e21016;
                    img{
                      margin-right: 15px;
                    }
                    @include esm{
                      padding-top: 20px;
                      flex: 0 0 100%;

                    }
                  }
                }

              }
            }
            &.alt-mavi{
              .alt{
                a{
                  background: #4d5789;
                  border-right: 1px solid #5e689b;
                  &:hover{
                    background: #5e689b;
                  }
                  &.icon-5{
                    border-right: 0;
                  }
                  &.icon-6{
                    background: #5e689b;
                    border-right: none;
                    border-left: 1px solid #4d5789;

                  }
                }
              }
            }
          }
        }

      }
      .col-sag-wrap{
        .ust-wrap{
          height: 100%;
          max-height: 68px;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          @include esm{
            display: block;
            overflow: unset;
            max-height: unset;
            height: unset;
          }
          .yenitalep{
            @include esm{
              flex: 0 0 100%;
            }
            a{
              margin-right: 30px;
              padding: 0px 40px;
              height: 100%;
              border-radius: $border-radius-cs;
              color: $white;
              background: #ed1c24;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: navajowhite;
              font-size: 18px;
              @include lg-custom{
                padding: 0px 20px;
              }
              @include esm{
                padding: 20px 10px;
                width: 100%;
                margin-bottom: 30px;
              }
              &:hover{
                background: #d1050d;
              }
              img{
                margin-right: 10px;
              }
              span{
              }
            }
          }
          .talepsayilari{
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            border-radius: $border-radius-cs;
            overflow: hidden;
            @include esm{
              flex: 0 0 100%;
              overflow: unset;
              display: block;
            }
            a{
              background: $white;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50%;
              color: #323c4a;
              border-right: 1px solid #e8ebf5;
              @include lg-custom{
                padding: 10px 15px;
              }
              @include esm{
                padding: 15px 10px;
                width: 100%;
                margin-bottom: 15px;
                border-radius: $border-radius-cs;
              }
              &:hover{
                background: #e8ebf5;
              }
              &:nth-last-child(1){
                border-right: 0;
              }
              span{
                min-width: 25px;
                min-height: 25px;
                border-radius: $rounded-pill;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                &.c-green{
                  background: #96c130 ;
                }
                &.c-red{
                  background: $red;
                }
              }

            }
          }
        }
        .orta-wrap{
          margin-top: 30px;
          .orta-table{
            background: $white;
            border-radius: $border-radius-cs;

            #table{
              border-radius: $border-radius-cs $border-radius-cs 0 0 ;
              display: block;
              border-bottom-color: transparent;
              border-left: 0; border-right: 0;
              overflow: hidden;
              @include sm{
                overflow: auto;
              }

              @include esm{
                overflow: auto;
              }
              tbody{
                tr{
                  td{
                    font-size: 13px;
                    .custom-control-label:before,.custom-control-label:after{
                      outline: 0 !important;
                      box-shadow: unset !important;
                    }
                    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
                      background: transparent;

                    }
                    .custom-control-label:before{
                      border-color: #a1abd0;
                    }

                    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
                      position: absolute;
                      top: 0.25rem;
                      left: -1.5rem;
                      display: block;
                      width: calc(1rem - 6px);
                      height: calc(1rem - 6px);
                      margin-top: 3px;
                      margin-left: 3px;
                      content: "";
                      background: no-repeat 50% / 50% 50%;
                      background: #a1abd0;
                      border-radius: 0.15rem;
                    }
                  }
                }
              }
              thead{
                tr{
                  th{
                    padding: 20px 30px;
                    text-align: center;
                    &.t-subject{
                      width: 330px;

                      text-align: left;
                    }
                    &.t-from{
                      text-align: left;
                    }
                  }
                  &.arama{
                    background: #f9f9fc;
                    input[type='text']{
                      background: transparent;
                      border-color: #d3d8e9;
                    }
                    .bootstrap-select{
                      width: 80px;
                      .dropdown-toggle{
                        border-color: #d3d8e9;
                        outline: 0 !important;
                        min-height: 38px;
                        &:hover{
                          background: transparent;
                        }
                        &:focus,&[aria-expanded="true"]{
                          color: #495057;
                          background-color: #fff;
                          border-color: #7ab5ee;
                          outline: 0;
                          -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 117, 207, 0.25);
                          box-shadow: 0 0 0 0.2rem rgba(26, 117, 207, 0.25);
                        }
                        &[aria-expanded="false"]{
                          box-shadow: unset;
                        }
                      }
                    }
                    th{
                      padding: 10px 10px;
                    }
                  }
                }
              }
            }
            .foot{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              padding-bottom: 20px;
              padding-right: 30px;
              padding-left: 30px;
              @include esm{
                 justify-content: center;
               }
              @include md{
                justify-content: center;
              }
              @include sm{
                justify-content: center;
              }

              @include lg{
                justify-content: center;
              }
              .bootstrap-select{
                width: 60px;
                margin-left: 10px;

                .dropdown-toggle{
                  border-color: #d3d8e9;
                  outline: 0 !important;
                  min-height: 38px;
                  &:hover{
                    background: transparent;
                  }
                  &:focus,&[aria-expanded="true"]{
                    color: #495057;
                    background-color: #fff;
                    border-color: #7ab5ee;
                    outline: 0;
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(26, 117, 207, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(26, 117, 207, 0.25);
                  }
                  &[aria-expanded="false"]{
                    box-shadow: unset;
                  }
                }
              }
              ul.pagination{
                padding: 0;
                margin: 0;
                display: flex;
                overflow: auto;
                @include esm{
                  margin-bottom: 30px;
                }
                @include sm{
                  margin-bottom: 30px;
                }
                @include md{
                  margin-bottom: 30px;
                }
                @include lg{
                  margin-bottom: 30px;
                }
                li{

                  list-style-type: none;
                  a{
                    width: 40px;
                    height: 40px;
                    background: #f2f2f8;
                    text-decoration: none;
                    color: #4d5789;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $rounded-pill;
                    margin-right: 10px;
                    &.active{
                      background: #4d5789;
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
        .alt-wrap{
          display: flex;
          flex-wrap: wrap;
          margin-right: -30px;
          @include esm{
            margin-right: 00px;
            text-align: center;

          }
          @include sm{
              margin-right: 00px;
            text-align: center;
            }

          .istatistik{
            margin-top: 30px;
            flex: 0 0 50%;
            overflow: hidden;
            @include md{
              margin-bottom: 40px;
            }
            @include esm{
              margin-bottom: 0px;
              flex: 0 0 100%;
            }
            .istatistik-wrap{
              border-radius: $border-radius-cs;
              background: $white;
              margin-right: 30px;
              @include esm{
                margin-right: 0px;

              }
              .body{
                padding: 30px 40px;
                padding-top: 10px;
                .item{
                  margin-top: 20px;
                  .text{
                    display: flex;
                    justify-content: space-between;
                    span{}
                  }
                  .progress{
                    margin-top: 5px;
                    height: 10px;
                    background: #e2e2e2;
                    border-radius: $border-radius-cs;
                    .progress-bar{
                      &.c-green{
                        background: #96c130;
                      }
                      &.c-blue{
                        background: #46a7e5;
                      }
                      &.c-red{
                        background: $red;
                      }
                      &.c-orange{
                        background: #f2a22f;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
