#slider{
  background: $bluedark;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  .slideshow{
    height: 100%;
    .slick-slider{
      height: 100%;
      .slick-list{
        height: 100%;
        .slick-track{
          min-width: 100%;
          width: 100%;
          height: 100%;
          .slick-slide{
            height: 100%;
            width: 100%;

            div{
              height: 100%;
              .item{
                display: flex !important;
                img{
                  object-fit: cover;
                  width: 100%;
                  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
                }
              }
            }
            &.slick-active img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}
